/* .container-fluid{
    text-align: center;
    margin: auto;
}
.container-fluid div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: black;
    color: whitesmoke;
    padding: 10px;
    margin: 3px;
}
*/
